/.vscode
/01pattern.cpp
/01pattern.exe
/01pattern1.cpp
/01pattern1.exe
/3villian.cpp
/3villian.exe
/aa.exe
/armstrong.cpp
/armstrong.exe
/armstrongnumber.cpp
/armstrongnumber.exe
/binarytodecimal.cpp
/binarytodecimal.exe
/binarytodecimal1.cpp
/binarytodecimal1.exe
/butterflypattern.cpp
/butterflypattern.exe
/butterflypattern1.exe
/combination.cpp
/combination.exe
/combination1.cpp
/combination1.exe
/decimaltobinary.cpp
/decimaltobinary.exe
/factorial.cpp
/factorial.exe
/factorial1.cpp
/factorial1.exe
/fib1.cpp
/fib1.exe
/fibonacci.cpp
/fibonacci.exe
/halfpyramid.cpp
/halfpyramid.exe
/halfpyramid1.cpp
/halfpyramid1.exe
/halfpyramid2.cpp
/halfpyramid2.exe
/halfpyramidfloyd.cpp
/halfpyramidfloyd.exe
/halfpyramidusingno.cpp
/halfpyramidusingno.exe
/half[yramid.exe
/hel.exe
/helloworld.cpp
/hexadecimaltodecimal.cpp
/hexadecimaltodecimal.exe
/hexatodecimal.cpp
/hexatodecimal.exe
/hollowpattern.cpp
/hollowpattern.exe
/input.cpp
/invertedhalf.cpp
/invertedhalf.exe
/invertedpattern.cpp
/invertedpattern.exe
/jumps.cpp
/jumps.exe
/maxand.cpp
/numberpattern.cpp
/numberpattern.exe
/octaltodecimal.cpp
/octaltodecimal.exe
/palindarome.cpp
/palindarome.exe
/palindrome.cpp
/palindrome.exe
/palindrome1.cpp
/palindrome1.exe
/pascaltriangle.cpp
/pascaltriangle.exe
/pattern.cpp
/pattern.exe
/powfunction.cpp
/powfunction.exe
/prime.cpp
/prime.exe
/primebwAandB.cpp
/primebwAandB.exe
/primefunction.cpp
/primefunction.exe
/primeno.cpp
/primeno.exe
/primenoupton.cpp
/primenoupton.exe
/primeornot.cpp
/primeornot.exe
/primes.cpp
/primes.exe
/pythagorastriplet.cpp
/pythagorastriplet.exe
/rer.exe
/reverse.exe
/reversenumber.cpp
/reversenumber.exe
/rhombus.cpp
/rhombus.exe
/simplecalc.cpp
/simplecalc.exe
/sizeof.cpp
/ssf.exe
/starpattern.cpp
/starpattern.exe
/starpattern1.cpp
/starpattern1.exe
/sum.cpp
/sum1.cpp
/sum1.exe
/sumof2.cpp
/swap2no.cpp
/switch.cpp
/switch.exe
/tempCodeRunnerFile.cpp
/ZigZag.cpp
/ZigZag.exe
/zigzag1.cpp
/zigzag1.exe